# Ignore all __pycache__ directories
__pycache__/

# Ignore the virtual environment directory
whisper-transcription-env/

transcription_results/
transcription_data.json

# Ignore .pyc files
*.pyc

# Ignore .pyo files
*.pyo

# Ignore .pyd files
*.pyd

# Ignore .DS_Store files (for macOS users)
.DS_Store