# Ignore all __pycache__ directories
__pycache__/

# Ignore the virtual environment directory
whisper-transcription-env/
whisper_transcription_env/

Faster-Whisper-XXL/

.cache/

transcription_results/
transcription_data.json

repopack*

# Ignore .pyc files
*.pyc

# Ignore .pyo files
*.pyo

# Ignore .pyd files
*.pyd

# Ignore .DS_Store files (for macOS users)
.DS_Store